#root {
    position:absolute;
    width:100%;
    height:100%;
    left: 0px;
    top: 0px;
    /* padding: 10px; */
}

#navbar {
    padding: 20px 20px 20px 22px;
    /* margin: auto; */
    margin: 8px 0px 0px 5px;
    width:96.5%
}

#title-div {
    position: absolute;
    top: 15px;
    left: 15px;
}

#left-sidebar {
    position:absolute;
    height: 93%;
    width: 14%;
    /* top: 6%; */
    left: 5px;
    padding-left: 15px;
    margin: 10px 0px 0px 0px;

}

#workspace {
    position:absolute;
    height:93%;
    width:83%;
    /* top:5.5%; */
    left:14.5%;
    padding: 0px 16px 0px 15px;
    margin: 10px 15px 15px 0px;
    /* padding-left: 15px; */
    /* padding-right: 25px; */
    grid-column: 2 span 1;
    grid-row: 2 span 1;
    display: flex;
    flex-direction: column;
}

#left-sidebar-header {
    padding-top:25px;
    height:4%;
    top:10%;
    width: 85%;
    display: grid;
    grid-template-columns: 60% 40%;
    white-space: nowrap;
}

#todo-lists-list {
    position:absolute;
    text-align: center;
    height:80%;
    width:100%;
    top: 8%;
}

.todo-list-button {
    padding-top:20px;
    height: 60px;
    width: 80%;
}

.todo-button {
    white-space: nowrap;
}

#left-sidebar-controls {
    text-align: right;
}

#todo-list-header-card {
    padding-top:25px;
    height:30px;
    width: 98%;
}

#todo-list-items-div {
    height:96%;
    top:7%;
    display: flex;
    flex-direction: column;
}

.list-item-card {
    padding-top:20px;
    height: 45px;
    display: flex;
    flex-direction: row;
}

.list-header-card{
    display: flex;
    flex-direction: row;
}

.item-col {
    width:25%;
}

.task-col {
    padding: 11px;
    width:22%;
}

.due-date-col {
    padding: 11px;
    width:22%;
}

.status-col {
    padding: 11px;
    width:22%
}

.list-controls-col {
    width:22%;
    display: flex;
    flex-direction: row;
}

.test-4-col{
    width:25%;
}

.list-controls-col {
    /*display: flex;
    flex-direction: row; 
    flex-wrap: nowrap;*/
}

.list-item-control {
    width: 20%;
}